<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>
  <link rel="icon" href="images/favicon.png">
   

  <!-- Bootstrap -->
  <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/estilofinancia.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="">


      <div class="container teste">
        <!--nesta div esto criado o cabeçalho da pagina  -->

        <div class="page-header baner borda-baixo">
          <a  href="../index.html"><span class="img-logo-formulario  img-responsive"></span></a>
        </div>

        <div class="row">
          <div class="col-md-12 centro">

            <form class="form-group" data-toggle="validator" role="form">
              <button type="button" class="btn btn-primary btn-block btn-botao">
                entrar com o facebook
              </button><br/><br/>

              <div class="divider form-group">
                <strong class="divider-title">ou</strong>
              </div><br/>

              <div class="form-group">
                <input type="text" class="form-control" name="" placeholder="Nome do usuario ou endereço de email" id="Email" data-error="Digite seu email o seu usuario" required>

	
              </div>

              <div class="form-group">
                <input type="password" name="" class="form-control" placeholder="Senha" id="senha" data-error="digite a senha " required>
              	 <div class="help-block with-errors"></div>
              </div>


                <button type="submit" class="btn btn-success btn-block btn-botao">
                  Entrar
                </button>
            </form>
          </div>
        </div>




      </div>







      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </body>
    </html>